<<<<<<< HEAD
<<<<<<< HEAD
body{
  width: 100%
  margin:0;
  padding:0;
}
.container_introduction{
  outline: 2px solid red;
  width: 100%;
  display:block;
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.container_introduction .image{
 display: inline-block;
 width: 58%;
}
.container_introduction .information{
  display: inline-block;
  width: 41.5%;
}
.container_information_introduction{
  width: 100%;
  height: 419px;
  background-color: white;
  position: relative;
  top: 25%;
}
.introduction{
  outline: 1px solid blue;
  height: 534.05px;
}

footer{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #333447;
  height: 651px;
}

=======
=======
/*Elemento universal para toda la web */
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
>>>>>>> e4d78f12c5f1c757235f389f8176c915e60bcb4d

/*Estilos a header*/
header{
  position: fixed;
  opacity: 8;
  width: 100%;
  height: 150px;
  font-size: 20px;
  line-height: 25px;
  outline: 1px solid green;
}

figure img{
  position: relative;
  top: 35px;
  left: 20px;
  width: 70px;
  outline: 1px solid red;
}

.header-text{
font-size: 30px;
}

a{
  display: block;
  color: white;
  text-decoration: none
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  margin-left: 1032px;
  }

 li{
   float: left;
   padding: 10px;
  }

  .last-option{
    border: 1px solid white;
    border-radius: 4px;
 }

=======
body{
  margin:0;
  padding: 0;
}
>>>>>>> 641e469e82d78c0f16177e90e6530be20c85e2de
